<h2 class="jumbotron text-center">about</h2>

<div class="container">
     <ul class="row">
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
       <li><img src="src="images/yourimage.jpg"/></li>
       ...
       ...
       </li>
       
   </ul>
</div>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->